<h1>Add Cheese</h1>
<hr>

<form action="/Cheese/Add" method="post">
    <label>Name of Cheese</label>
    <input name="name" type="text">
    <label>Short Description</label>
    <input name="description" type="text">
    <br><br>
    <input type="submit" value="Add Cheese">
</form>