<h1>My Cheeses</h1>
<hr>

@if(ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}

<ul>
    @foreach(var cheese in ViewBag.cheeses)
    {
        <li>@cheese.Key
            <p>Description: @cheese.Value</p>
        </li>
    }
</ul>

<a asp-controller="Cheese" asp-action="Add">
    <button>Add Cheese</button>
</a>